<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
			<tr th:each="message : ${messages}">
				<td th:text="${message.id}"></td>
				<td th:text="${message.name}"></td>
			</tr>
			<tr>
				<td align="center" colspan="4"><a href="#">Add User</a></td>
			</tr>
		</table>
		<h1>Data 2</h1>
			<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
			<tr th:each="message : ${messages2}">
				<td th:text="${message.id}"></td>
				<td th:text="${message.name}"></td>
			</tr>
			<tr>
				<td align="center" colspan="4"><a href="#">Add User</a></td>
			</tr>
		</table>
</body>
</html>